certifi==2021.10.8
charset-normalizer==2.0.10
distlib==0.3.4
filelock==3.4.2
idna==3.3
pipenv==2021.11.23
platformdirs==2.4.1
requests==2.27.0
six==1.16.0
urllib3==1.26.7
virtualenv==20.13.0
virtualenv-clone==0.5.7
